<div class="detail_container">
    <div>
         @*//Heading Section*@
        <p class="home">Home     /     House Details</p>
        <h1 class="vilage">Village Angga</h1>
        <p class="subvil">Bogor, Indonesia</p>
    </div>

    <div class="eye" flex: column>
        <div class="eye1">
            <img src="~/images/Image folder/detail-img1.png" alt="marketing illustration" class="det1">
        </div>
        <div class="eye2">
            <div class="y1">
               <img src="~/images/Image folder/detail-img2.png" alt="building" class="det2" />
            </div>
            <div class="y2">
              <img src="~/images/Image folder/detail-img3.png" alt="building" class="det3" />
            </div>

        </div>
    </div>

    <div class="details">
        <div class="">
            <h4 class="about">About the place</h4>
            <p class="abt">Minimal techno is a minimalist subgenre of techno music.
                It is characterized by a stripped-down aesthetic that
                exploits the use of repetition and understated development.
                Minimal techno is thought to have been originally developed
                in the early 1990s by Detroit-based producers Robert Hood and Daniel Bell.</p><br />
                <br />
                <p class="such">Such trends saw the demise of the soul-infused techno
                    that typified the original Detroit sound.
                    Robert Hood has noted that he and Daniel Bell
                    both realized something was missing
                    from techno in the post-rave era.</p><br />
                    <br />
                    <p class="design">Design is a plan or specification for the construction of an object
                        or system or for the implementation of an activity or process, or 
                        the result of that plan or specification in the form of a prototype,
                        product or process. The national agency for design:
                        enabling Singapore to use design for economic growth
                        and to make lives better.</p>
        </div>
        <div class="">
           <h5  class="startbooking">Start Booking</h5>
           <h3 class="per">$280 per night</h3>
           <p class="how">How long you will stay?</p>
           <div class="nit">
           <button type="button" class="red">- </button>
            <div class="nights">2 nights </div>
             <button type="button" class="green">+ </button>
             </div>
             <p class="pic">Pick a Date</p>
             <button type="button"><img src="~/images/Image folder/detail-imgt.png" alt="button"  class="purple" /></button>
             @*<div class="jan">20 Jan - 22 Jan</div>
             <div class="usd">You will pay $480 USD per 2 nights</div>
            
            <button type="button" class="book">Continue to Book </button>*@

        
        </div>

    </div>

    <div class="treasures">
        <p class="tre">Treasure to Choose</p>
       @* @{
            foreach(var item in .....)
        }*@
        <div>
            <img src="~/images/Image folder/detail-img4.png" alt="building" class="det4" />
        </div>
        <div>
            <img src="~/images/Image folder/detail-img5.png" alt="building" class="det5" />
        </div>
        <div>
            <img src="~/images/Image folder/detail-img6.png" alt="building" class="det6" />
        </div>
        <div>
            <img src="~/images/Image folder/detail-img7.png" alt="building" class="det7" />
        </div>
    </div>


    <div class="happyfamily">
        <div class="">
            <img src="~/images/Image folder/detail-img8.png" alt="building" class="pict" />
        </div>
        <div>
            <p class="hap">Happy Family</p>
        </div>
        <div class="stars">
            @* <img src="~/images/Image folder/Star 1.png" alt="building" class="st" />
              <img src="~/images/Image folder/Star 1.png" alt="building" class="sta" />*@
               <i class="star">&#9734;&#9734;&#9734;&#9734;&#9734;</i>
               <p class="as">As a wife I can pick a great trip with
                  my own lovely family ... thank you!</p>
                  <p class="an">Anggi, Product Designer</p>
                  <a class="re" href="#"> Read Their Story</a>
        </div>

    </div>


</div>
